In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
Apple = yf.download("AAPL", start="2020-02-01", end="2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [8]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-02-03,76.074997,78.372498,75.555000,77.165001,75.377296,173788400
2020-02-04,78.827499,79.910004,78.407501,79.712502,77.865791,136616400
2020-02-05,80.879997,81.190002,79.737503,80.362503,78.500740,118826800
2020-02-06,80.642502,81.305000,80.065002,81.302498,79.418961,105425600
2020-02-07,80.592499,80.849998,79.500000,80.007500,78.339447,117684000
...,...,...,...,...,...,...
2023-04-24,165.000000,165.600006,163.889999,165.330002,165.101639,41949600
2023-04-25,165.190002,166.309998,163.729996,163.770004,163.543793,48714100
2023-04-26,163.059998,165.279999,162.800003,163.759995,163.533798,45498800
2023-04-27,165.190002,168.559998,165.190002,168.410004,168.177383,64902300
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200

In [10]:
ticker = ["SPY", "AAPL","STT","TSLA"]

In [11]:
stocks = yf.download(ticker, start="2020-02-01", end="2023-05-01")

[*********************100%***********************]  4 of 4 completed

In [12]:
stocks

             Adj Close                                          Close
                  AAPL         SPY        STT        TSLA        AAPL
Date
2020-02-03   75.377312  307.805176  68.742691   52.000000   77.165001  \
2020-02-04   77.865807  312.496552  70.233353   59.137333   79.712502
2020-02-05   78.500740  316.105194  72.311279   48.980000   80.362503
2020-02-06   79.418945  317.168884  72.519058   49.930668   81.302498
2020-02-07   78.339432  315.478516  71.498177   49.871334   80.007500
...                ...         ...        ...         ...         ...
2023-04-24  165.101639  412.630005  73.470001  162.550003  165.330002
2023-04-25  163.543793  406.079987  70.620003  160.669998  163.770004
2023-04-26  163.533798  404.359985  69.820000  153.750000  163.759995
2023-04-27  168.177383  412.410004  71.169998  160.190002  168.410004
2023-04-28  169.445618  415.929993  72.260002  164.309998  169.679993

                                                     High              ...
                   SPY        STT        TSLA        AAPL         SPY  ...
Date                                                                   ...
2020-02-03  324.119995  76.089996   52.000000   78.372498  326.160004  ...  \
2020-02-04  329.059998  77.739998   59.137333   79.910004  330.010010  ...
2020-02-05  332.859985  80.040001   48.980000   81.190002  333.089996  ...
2020-02-06  333.980011  80.269997   49.930668   81.305000  334.190002  ...
2020-02-07  332.200012  79.139999   49.871334   80.849998  333.989990  ...
...                ...        ...         ...         ...         ...  ...
2023-04-24  412.630005  73.470001  162.550003  165.600006  413.070007  ...
2023-04-25  406.079987  70.620003  160.669998  166.309998  411.160004  ...
2023-04-26  404.359985  69.820000  153.750000  165.279999  407.839996  ...
2023-04-27  412.410004  71.169998  160.190002  168.559998  412.690002  ...
2023-04-28  415.929993  72.260002  164.309998  169.850006  415.940002  ...

                  Low                    Open
                  STT        TSLA        AAPL         SPY        STT
Date
2020-02-03  75.980003   44.901333   76.074997  323.350006  76.010002  \
2020-02-04  77.389999   55.591999   78.827499  328.070007  77.389999
2020-02-05  78.790001   46.940666   80.879997  332.269989  79.059998
2020-02-06  78.989998   45.799999   80.642502  333.910004  80.660004
2020-02-07  78.559998   48.666668   80.592499  332.820007  79.349998
...               ...         ...         ...         ...        ...
2023-04-24  73.120003  158.610001  165.000000  411.989990  73.680000
2023-04-25  70.489998  158.750000  165.190002  410.579987  72.500000
2023-04-26  69.459999  153.139999  163.059998  406.720001  70.379997
2023-04-27  70.220001  152.369995  165.190002  407.000000  70.570000
2023-04-28  70.400002  157.320007  168.490005  411.489990  70.550003

                           Volume
                  TSLA       AAPL       SPY      STT       TSLA
Date
2020-02-03   44.912666  173788400  69083000  1966700  705975000
2020-02-04   58.863998  136616400  62573200  2222200  914082000
2020-02-05   54.883999  118826800  65951100  2530700  726357000
2020-02-06   46.661331  105425600  50359700  2476100  598212000
2020-02-07   48.703335  117684000  64139400  1599500  255952500
...                ...        ...       ...      ...        ...
2023-04-24  164.649994   41949600  64332100  2294600  140006600
2023-04-25  159.820007   48714100  97766700  4327800  121999300
2023-04-26  160.289993   45498800  80447000  3280400  153364100
2023-04-27  152.639999   64902300  92968400  1708500  127015200
2023-04-28  160.899994   55209200  89335600  2058000  122515800

[816 rows x 24 columns]

In [13]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 816 entries, 2020-02-03 to 2023-04-28
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  816 non-null    float64
 1   (Adj Close, SPY)   816 non-null    float64
 2   (Adj Close, STT)   816 non-null    float64
 3   (Adj Close, TSLA)  816 non-null    float64
 4   (Close, AAPL)      816 non-null    float64
 5   (Close, SPY)       816 non-null    float64
 6   (Close, STT)       816 non-null    float64
 7   (Close, TSLA)      816 non-null    float64
 8   (High, AAPL)       816 non-null    float64
 9   (High, SPY)        816 non-null    float64
 10  (High, STT)        816 non-null    float64
 11  (High, TSLA)       816 non-null    float64
 12  (Low, AAPL)        816 non-null    float64
 13  (Low, SPY)         816 non-null    float64
 14  (Low, STT)         816 non-null    float64
 15  (Low, TSLA)        816 non-null    float64
 16  (Open, AAPL)       816 non-null    float64
 17  (Open, SPY)        816 non-null    float64
 18  (Open, STT)        816 non-null    float64
 19  (Open, TSLA)       816 non-null    float64
 20  (Volume, AAPL)     816 non-null    int64
 21  (Volume, SPY)      816 non-null    int64
 22  (Volume, STT)      816 non-null    int64
 23  (Volume, TSLA)     816 non-null    int64
dtypes: float64(20), int64(4)
memory usage: 159.4 KB

In [14]:
stocks.to_csv("stocksYT.csv")

In [19]:
stocks = pd.read_csv("stocksYT.csv")
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Close,Close.1,Close.2,Close.3,High,...,Low.2,Low.3,Open,Open.1,Open.2,Open.3,Volume,Volume.1,Volume.2,Volume.3
0,NaN,AAPL,SPY,STT,TSLA,AAPL,SPY,STT,TSLA,AAPL,...,STT,TSLA,AAPL,SPY,STT,TSLA,AAPL,SPY,STT,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-03,75.37731170654297,307.80517578125,68.74269104003906,52.0,77.16500091552734,324.1199951171875,76.08999633789062,52.0,78.37249755859375,...,75.9800033569336,44.90133285522461,76.07499694824219,323.3500061035156,76.01000213623047,44.91266632080078,173788400,69083000,1966700,705975000
3,2020-02-04,77.86580657958984,312.4965515136719,70.23335266113281,59.137332916259766,79.7125015258789,329.05999755859375,77.73999786376953,59.137332916259766,79.91000366210938,...,77.38999938964844,55.59199905395508,78.82749938964844,328.07000732421875,77.38999938964844,58.86399841308594,136616400,62573200,2222200,914082000
4,2020-02-05,78.50074005126953,316.1051940917969,72.311279296875,48.97999954223633,80.36250305175781,332.8599853515625,80.04000091552734,48.97999954223633,81.19000244140625,...,78.79000091552734,46.94066619873047,80.87999725341797,332.2699890136719,79.05999755859375,54.88399887084961,118826800,65951100,2530700,726357000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,2023-04-24,165.1016387939453,412.6300048828125,73.47000122070312,162.5500030517578,165.3300018310547,412.6300048828125,73.47000122070312,162.5500030517578,165.60000610351562,...,73.12000274658203,158.61000061035156,165.0,411.989990234375,73.68000030517578,164.64999389648438,41949600,64332100,2294600,140006600
814,2023-04-25,163.54379272460938,406.0799865722656,70.62000274658203,160.6699981689453,163.77000427246094,406.0799865722656,70.62000274658203,160.6699981689453,166.30999755859375,...,70.48999786376953,158.75,165.19000244140625,410.5799865722656,72.5,159.82000732421875,48714100,97766700,4327800,121999300
815,2023-04-26,163.53379821777344,404.3599853515625,69.81999969482422,153.75,163.75999450683594,404.3599853515625,69.81999969482422,153.75,165.27999877929688,...,69.45999908447266,153.13999938964844,163.05999755859375,406.7200012207031,70.37999725341797,160.2899932861328,45498800,80447000,3280400,153364100
816,2023-04-27,168.17738342285156,412.4100036621094,71.16999816894531,160.19000244140625,168.41000366210938,412.4100036621094,71.16999816894531,160.19000244140625,168.55999755859375,...,70.22000122070312,152.3699951171875,165.19000244140625,407.0,70.56999969482422,152.63999938964844,64902300,92968400,1708500,127015200
817,2023-04-28,169.44561767578125,415.92999267578125,72.26000213623047,164.30999755859375,169.67999267578125,415.92999267578125,72.26000213623047,164.30999755859375,169.85000610351562,...,70.4000015258789,157.32000732421875,168.49000549316406,411.489990234375,70.55000305175781,160.89999389648438,55209200,89335600,2058000,122515800

In [22]:
stocks = pd.read_csv("stocksYT.csv", header=[0,1], index_col=[0], parse_dates=[0])
stocks

TypeError: read_csv() got an unexpected keyword argument 'parse_date'